/* HomeScreen.css */
.container-1 {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
}

.profile_pic1 img {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  border: 5px solid #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}


.allText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 45px;
}

.text1 {
  font-size: 40px;
  color: var(--darkColor);
  text-align: center;
  font-family: monospace;
}

.text2 {
  font-size: 30px;
  color: #bc6262;
  text-align: center;
  font-family: "Dancing Script", serif;
}

.text3 {
  font-size: 120%;
  color: #0f1410;
  text-align: left;
  margin: 0px 50px 0px 20px;
}

.CVbutton {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.CVbutton button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #bc6262;
  border-color:  #bc6262;
}

.CVbutton button:hover {
  background-color: #D9A5B3;
  border-color:#D9A5B3 ;
}

/* ICONS */
.container-2 {
  margin-top: 35px;
  margin-bottom: 30px;
  padding: 20px;
}


.projects{
  padding: 30px;
  margin-top: 50px;
  color: #bc6262;
}